    <!-- INJECT_COMPONENT:SHEET_TABS -->

    <div class="layout-container" id="mainContainer">
        <div class="left-col" id="leftCol">
            <!-- INJECT_COMPONENT:VIDEO_PANEL -->

            <div class="resizer-h" id="resizerH1"></div>

            <!-- INJECT_COMPONENT:TIMELINE_PANEL -->

            <div class="resizer-h" id="resizerH2"></div>

            <!-- INJECT_COMPONENT:FORM_PANEL -->
        </div>

        <div class="resizer-v" id="resizerV"></div>

        <!-- INJECT_COMPONENT:TABLE_PANEL -->
    </div>
